[submodule "zsh/prezto"]
  path = zsh/prezto
  url = https://github.com/sorin-ionescu/prezto.git
  ignore = dirty
[submodule "vim/pack/appearances/start/vim-gitgutter"]
  path = vim/pack/appearances/start/vim-gitgutter
  url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/ruby/start/vim-rake"]
  path = vim/pack/ruby/start/vim-rake
  url = https://github.com/tpope/vim-rake.git
[submodule "vim/pack/ruby/start/vim-ruby"]
  path = vim/pack/ruby/start/vim-ruby
  url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/pack/ruby/start/vim-ruby-refactoring"]
  path = vim/pack/ruby/start/vim-ruby-refactoring
  url = https://github.com/ecomba/vim-ruby-refactoring
[submodule "vim/pack/ruby/start/vim-slim"]
  path = vim/pack/ruby/start/vim-slim
  url = https://github.com/slim-template/vim-slim.git
[submodule "vim/pack/ruby/start/vim-spec-finder"]
  path = vim/pack/ruby/start/vim-spec-finder
  url = https://github.com/skwp/vim-spec-finder
[submodule "vim/pack/search/start/ag.vim"]
  path = vim/pack/search/start/ag.vim
  url = https://github.com/rking/ag.vim
[submodule "vim/pack/search/start/greplace.vim"]
  path = vim/pack/search/start/greplace.vim
  url = https://github.com/skwp/greplace.vim
[submodule "vim/pack/search/start/IndexedSearch"]
  path = vim/pack/search/start/IndexedSearch
  url = https://github.com/vim-scripts/IndexedSearch
[submodule "vim/pack/search/start/vim-easymotion"]
  path = vim/pack/search/start/vim-easymotion
  url = https://github.com/Lokaltog/vim-easymotion
[submodule "vim/pack/search/start/vim-sneak"]
  path = vim/pack/search/start/vim-sneak
  url = https://github.com/justinmk/vim-sneak
[submodule "vim/pack/search/start/vim-visual-star-search"]
  path = vim/pack/search/start/vim-visual-star-search
  url = https://github.com/nelstrom/vim-visual-star-search
[submodule "vim/pack/textobjects/start/argtextobj.vim"]
  path = vim/pack/textobjects/start/argtextobj.vim
  url = https://github.com/vim-scripts/argtextobj.vim
[submodule "vim/pack/textobjects/start/textobj-word-column.vim"]
  path = vim/pack/textobjects/start/textobj-word-column.vim
  url = https://github.com/coderifous/textobj-word-column.vim
[submodule "vim/pack/textobjects/start/vim-indent-guides"]
  path = vim/pack/textobjects/start/vim-indent-guides
  url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "vim/pack/textobjects/start/vim-indentobject"]
  path = vim/pack/textobjects/start/vim-indentobject
  url = https://github.com/austintaylor/vim-indentobject
[submodule "vim/pack/textobjects/start/vim-textobj-datetime"]
  path = vim/pack/textobjects/start/vim-textobj-datetime
  url = https://github.com/kana/vim-textobj-datetime
[submodule "vim/pack/textobjects/start/vim-textobj-entire"]
  path = vim/pack/textobjects/start/vim-textobj-entire
  url = https://github.com/kana/vim-textobj-entire
[submodule "vim/pack/textobjects/start/vim-textobj-function"]
  path = vim/pack/textobjects/start/vim-textobj-function
  url = https://github.com/kana/vim-textobj-function
[submodule "vim/pack/textobjects/start/vim-textobj-function-javascript"]
  path = vim/pack/textobjects/start/vim-textobj-function-javascript
  url = https://github.com/thinca/vim-textobj-function-javascript
[submodule "vim/pack/textobjects/start/vim-textobj-rubyblock"]
  path = vim/pack/textobjects/start/vim-textobj-rubyblock
  url = https://github.com/nelstrom/vim-textobj-rubyblock
[submodule "vim/pack/textobjects/start/vim-textobj-rubysymbol"]
  path = vim/pack/textobjects/start/vim-textobj-rubysymbol
  url = https://github.com/bootleq/vim-textobj-rubysymbol
[submodule "vim/pack/textobjects/start/vim-textobj-underscore"]
  path = vim/pack/textobjects/start/vim-textobj-underscore
  url = https://github.com/lucapette/vim-textobj-underscore
[submodule "vim/pack/textobjects/start/vim-textobj-user"]
  path = vim/pack/textobjects/start/vim-textobj-user
  url = https://github.com/kana/vim-textobj-user
